*{
    box-sizing:border-box;
    }
    
    
    .fade-out .room,
    .fade-out .logo,
    .fade-out .cloud,
    .fade-out .star,
    .fade-out .music-credit{
    
    opacity:0 !important;
    
    transition:opacity 3s ease;
    
    pointer-events:none;
    
    }
    
    
    .exit-message{
    
    position:fixed;
    
    top:50%;
    
    left:50%;
    
    transform:translate(-50%,-50%);
    
    text-align:center;
    
    font-size:20px;
    
    letter-spacing:2px;
    
    opacity:0;
    
    transition:3s ease;
    
    z-index:20;
    
    }
    
    
    .mini-cloud{
    
    width:35px;
    
    height:35px;
    
    object-fit:contain;
    
    vertical-align:middle;
    
    margin-left:10px;
    
    
    filter:
    
    drop-shadow(0 0 10px rgba(155,89,182,.6));
    
    }
    
    
    
    .exit-message.show{
    
    opacity:.8;
    
    }
    
    
    
    body{
    
    margin:0;
    
    height:100vh;
    
    overflow:hidden;
    
    font-family:'Nunito',sans-serif;
    
    background:
    
    radial-gradient(circle at top,#160b2e,#0b0616 70%);
    
    color:#f3ecff;
    
    display:flex;
    
    align-items:center;
    
    justify-content:center;
    
    }
    
    
    
    body::before{
    
    content:"";
    
    position:fixed;
    
    width:700px;
    
    height:350px;
    
    top:-200px;
    
    left:50%;
    
    transform:translateX(-50%);
    
    background:
    
    rgba(155,89,182,.18);
    
    filter:blur(120px);
    
    z-index:0;
    
    }
    
    
    
    body::after{
    
    content:"";
    
    position:fixed;
    
    inset:0;
    
    background:
    
    radial-gradient(circle at 50% 80%,
    
    rgba(155,89,182,.08),
    
    transparent 60%);
    
    pointer-events:none;
    
    z-index:1;
    
    }
    
    
    
    /* Logo */
    
    .logo{
    
    transition:opacity 3s ease;
    
    position:fixed;
    
    top:35px;
    
    left:35px;
    
    width:75px;
    
    height:75px;
    
    object-fit:contain;
    
    animation:logoFloat 5s infinite ease-in-out;
    
    z-index:5;
    
    filter:
    
    drop-shadow(0 0 25px rgba(155,89,182,.6));
    
    }
    
    
    
    @keyframes logoFloat{
    
    50%{
    
    transform:translateY(-12px);
    
    }
    
    }
    
    
    
    /* Stars */
    
    .star{
    
    position:absolute;
    
    width:2px;
    
    height:2px;
    
    background:white;
    
    border-radius:50%;
    
    opacity:.5;
    
    animation:twinkle 5s infinite;
    
    }
    
    
    
    @keyframes twinkle{
    
    50%{
    
    opacity:.15;
    
    }
    
    }
    
    
    
    
    
    /* Clouds */
    
    .cloud{
    
    position:absolute;
    
    width:330px;
    
    height:100px;
    
    background:
    
    rgba(220,210,255,.10);
    
    border-radius:100px;
    
    filter:blur(8px);
    
    animation:floatCloud 70s infinite alternate;
    
    }
    
    
    
    .cloud:before{
    
    content:"";
    
    position:absolute;
    
    width:170px;
    
    height:170px;
    
    background:
    
    rgba(220,210,255,.10);
    
    border-radius:50%;
    
    top:-80px;
    
    left:45px;
    
    filter:blur(5px);
    
    }
    
    
    
    .cloud:after{
    
    content:"";
    
    position:absolute;
    
    width:130px;
    
    height:130px;
    
    background:
    
    rgba(220,210,255,.10);
    
    border-radius:50%;
    
    top:-55px;
    
    right:40px;
    
    filter:blur(5px);
    
    }
    
    
    
    .cloud.one{
    
    top:15%;
    
    left:-250px;
    
    opacity:.8;
    
    animation-duration:70s;
    
    }
    
    
    
    .cloud.two{
    
    bottom:15%;
    
    right:-250px;
    
    opacity:.55;
    
    animation-duration:90s;
    
    animation-delay:10s;
    
    }
    
    
    
    .cloud.three{
    
    top:40%;
    
    left:-350px;
    
    opacity:.35;
    
    transform:scale(.7);
    
    animation-duration:110s;
    
    }
    
    
    
    .cloud.four{
    
    top:5%;
    
    right:-300px;
    
    opacity:.25;
    
    transform:scale(1.4);
    
    animation-duration:130s;
    
    }
    
    
    
    .cloud.five{
    
    bottom:25%;
    
    left:-400px;
    
    opacity:.15;
    
    transform:scale(1.8);
    
    animation-duration:150s;
    
    }
    
    
    
    
    @keyframes floatCloud{
    
    from{
    
    transform:translateX(0);
    
    }
    
    to{
    
    transform:translateX(900px);
    
    }
    
    }
    
    
    
    
    
    /* Room */
    
    .room{
    
    transition:opacity 1.5s ease;
    
    position:relative;
    
    z-index:1;
    
    width:100%;
    
    max-width:900px;
    
    text-align:center;
    
    padding:40px;
    
    }
    
    
    
    h1{
    
    font-size:60px;
    
    letter-spacing:7px;
    
    margin-bottom:30px;
    
    text-shadow:
    
    0 0 35px rgba(155,89,182,.35);
    
    }
    
    
    
    p{
    
    font-size:20px;
    
    line-height:1.8;
    
    opacity:.75;
    
    }
    
    
    
    
    
    /* Buttons */
    
    .button{
    
    display:inline-block;
    
    margin-top:30px;
    
    padding:12px 35px;
    
    border-radius:30px;
    
    background:
    
    rgba(155,89,182,.25);
    
    border:
    
    1px solid rgba(155,89,182,.4);
    
    color:white;
    
    cursor:pointer;
    
    transition:.4s;
    
    }
    
    
    
    .button:hover{
    
    transform:translateY(-4px);
    
    box-shadow:
    
    0 10px 30px rgba(155,89,182,.25);
    
    }
    
    
    
    .small{
    
    font-size:12px;
    
    opacity:.45;
    
    margin-top:25px;
    
    }
    
    
    
    
    
    /* Screens */
    
    .screen{
    
    position:absolute;
    
    width:100%;
    
    left:0;
    
    top:50%;
    
    transform:translateY(-50%);
    
    transition:
    
    opacity 2.8s ease,
    
    transform 2.8s ease;
    
    }
    
    
    
    .show{
    
    opacity:1;
    
    pointer-events:auto;
    
    }
    
    
    
    .hide{
    
    opacity:0;
    
    pointer-events:none;
    
    transform:translateY(calc(-50% + 50px));
    
    }
    
    
    
    
    
    /* Music Credit */
    
    .music-credit{
    
    position:fixed;
    
    bottom:25px;
    
    left:35px;
    
    font-size:12px;
    
    letter-spacing:1px;
    
    opacity:0;
    
    line-height:1.6;
    
    transition:2.8s ease;
    
    z-index:5;
    
    }
    
    
    
    .show-credit{
    
    opacity:.35;
    
    }